%h3 Non-Deterministic Tests
%table.table
  %tr
    %th Test
    %th Failures
  - @project.tests.non_deterministic.each do |test|
    %tr
      %td= link_to test.name, project_test_path(@project, test)
      %td
        = test.non_deterministic_count
        = "(#{number_to_percentage(test.non_deterministic_count.to_f / (test.passed_count + test.failed_count))})"
