%h3 Test Runner
%p 
  In order to gather some useful data about your test suite, you may want to
  set-up a test runner which runs your test suite continously and sends
  the results to Blade. The folloing bash script is an example:

%pre= render 'script'
