= render '/shared/project_bar'
%h2 Tests
%table.table
  %tr
    %th Test
    %th Average duration
    %th Pass Ratio
  - @tests.order(average_duration: :desc).each do |test|
    %tr
      %td= test.name
      %td= test.average_duration.round(2)
      %td= test.pass_ratio.round(2)

